@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url(_variables.css);
@import url(icons.css);

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.fnt-wei-4 {
    font-weight: 400;
}

.fnt-sz-12 {
    font-size: 12px;
}

.upper {
    text-transform: uppercase;
}

.over-hid {
    overflow: hidden;
}

body{
    /* width: 1300px; */
    font-family: "Lexend", sans-serif;
    color: white;
    font-weight: 200;
    height: 1500px;
    background-color: #191919;
    /* overflow: hidden; */
}

header {
    position: relative;
}

div img.picture-bg {
    position: absolute;
}

img.picture-bg {
    width: 320px;
    height: 300px;
    top: -240px;
    position: absolute;
}

.nav-bar {
    position: absolute;
    top: 8%;
    left: 70px;
    width: calc(100% - 130px);
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #262626;
    background-color: #191919;
    border-radius: 100px;
    padding: 0 10px;
}

.nav-bar span {
    font-size: 22px;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Меню */
.dropdown-content {
    position: absolute;
    top: 100px;
    right: 0;
    background: #262626;
    min-width: 160px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

/* Список */
.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.dropdown-content a:hover {
    background: #333;
}

.dropdown-content.show {
    opacity: 1;
    transform: translateY(0);
}

.hero-seaction {
    margin-top: 200px;
}

.message {
    height: 50px;
    width: 350px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    background-color: #262626;
}

.green-check {
    margin-left: 22px;
}

.message span {
    font-weight: 200;
}

.grid {
    width: auto;
    top: 27%;
    display: grid;
    margin: 0 auto;
    /* overflow: hidden; */
}

.cell {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 0 0;   
}

.cell h1 {
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
}

.cell p {
    line-height: 1.5;
}

.cell button {
    width: 150px;
    height: 50px;
    align-items: center;
    border: none;
    border-radius: 100px;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    background-color: #c6ff00;
    margin: 30px auto 20px;
    display: block;
}

span.green-color {
    color: #c6ff00;
}

.cell-transactions {
    position: relative;
    width: 350px;
    height: 520px;
    border: 1px solid #282926;
    border-radius: 10px;
    align-items: center;
    background-color: #191919;
    margin: 0 auto;
}

.fife-k {
    width: 160px;
    height: 70px;
    padding: 0 10px;
    position: absolute;
    font-size: 12px;
    top: -50px;
    left: -40px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid none;
    border-radius: 10px;
    background-color: #22251b;
    z-index: 1;
}

.arrows {
    margin-left: 50px;
    position: relative;
    top: -10px;
    z-index: -2;
}

img.arrows {
    width: 300px;
    height: 300px;

}

div.transactions {
    margin: 60px 20px 0 20px;
}

div.transactions > p {
    top: -40px;
}

.transactions {
  position: relative;
  width: 270px;
  height: 180px;
  top: -300px;
}

.transactions > p {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.tran-block {
    height: 60px;
    background-color: #191919;
    border-radius: 12px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 0.3;
    position: absolute;
    transition: 0.3s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    align-items: baseline;
}

.tran-block .left-group {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 14px;
}

.left-left p {
    margin: 14px 0;
}

.tran-block:nth-child(2) {
  top: 0;
  left: 17px;
  z-index: 3;
  opacity: 1;
}

.tran-block:nth-child(3) {
    width: 250px;
    top: 50px;
    left: 27px;
  z-index: 2;
  opacity: 0.6;
}

.tran-block:nth-child(4) {
    width: 230px;
    top: 100px;
    left: 37px;
    z-index: 1;
    opacity: 0.3;
}

.exchange {
    top: -310px;
    position: relative;
    margin: 20px;
}

.exchange span {
    margin-left: 10px;
}

.mini-tabl {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.currency {
    width: auto;
    height: 80px;
    padding: 10px;
    border: 1px solid #262626;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.top-left {
    border-top-left-radius: 10px;
}

.top-right {
    border-top-right-radius: 10px;
}

.bottom-left {
    height: 60px;
    border-bottom-left-radius: 10px;
}

.bottom-right {
    height: 60px;
    border-bottom-right-radius: 10px;
}

div.currency img {
    height: 40px;
    width: 40px;
}

.exch {
    position: relative;
    top: -300px;
    margin: 0 auto 0;
    display: block;
    width: 290px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: #22251b;
    color: #d1ff4c;
    cursor: pointer;
}

.supported { 
    top: -250px;
    right: 25px;
    width: 390px;
    position: relative;
    background: #22251b;
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.curr {
    padding: 5px 5px;
    border: 1px solid none;
    border-radius: 50px;
    background-color: #191919;
    display: flex;
    gap: 10px;
}

.curr button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: #262626;
  color: #c6ff00;
  cursor: pointer;
}

.curr button img {
  width: 30px;
  height: 30px;
}

/* second-section */

.second-section {
    margin-top: 140px;
    margin-bottom: 20px;
    padding: 0 20px 0 30px;
    text-align: center;
}

.text h1 {
    margin-bottom: 10px;
}

.text span {
    color: #caff33;
}

.text p {
    color: #b3b3b3;
    margin-bottom: 20px;
}

.sec-btn {
    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: #1c1c1c;
    border: 1px solid #262626;
    border-radius: 100px;
}

.sec-btn button {
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    background-color: #1c1c1c;
    border: none;
    border-radius: 100px;
}

.sec-btn .btn-on {
    background-color: #caff33;
}

.sec-btn .btn-off {
    color: white;
}

.grid-sec {
    display: grid;
    margin: 50px 0 0;
}
.grid-sec hr {
    opacity: 0.1;
    margin-bottom: 30px;
}

.cell-sec {
    display: grid;
    justify-items: center;
}

.cell-sec .icon-bag {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.cell-sec .download {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
}

.cell-sec .icon-money {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.cell-sec span {
    font-size: 24px;
    margin-bottom:  15px;
}

.second-section p {
    font-size: 20px;
}

.cell-sec p {
    color: #b3b3b3;
    margin-bottom: 40px;
}

.grid-sec .border-down {
    margin-bottom: 30px;
    border-bottom: 1px solid #353535;
}

.grid-sec .border-down:nth-child(3) {
    border: none;
}

/* --------------------------------- three-section ------------------------ */

.three-section {

}

.header-three {
    padding: 30px;
    text-align: center;
}

.header-three span {
    color: #caff33;
}

.header-three p {
    margin: 20px 0;
    color: #b3b3b3;
    font-size: 20px;
}

.grid-three {
    display: grid;
}

.mini-tabl-three {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 30px;
    padding: 20px;
    position: relative;
    border: 1px solid none;
    border-radius: 20px;
    background-color: #1c1c1c;
}

.mini-tabl-three img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.mini-tabl-three .icon-money {
    width: 80px;
    height: 80px;
}

.cell-three {
    max-height: 160px;
    margin: 10px;
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #262626;
    border-radius: 20px;
    background-color: #191919;
    font-weight: 300;
    z-index: 2;
}

.text-three {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    text-align: center;
}

.text-three span {
    font-size: 22px;
    font-weight: 400;
}

.digit-three {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 50px;
}

.digit-three span {
    font-size: 40px;
    font-weight: 400;
    color: #caff33;
}

.cell-digit-three {
    padding: 50px 50px;
    border: 2px transparent;
    border-bottom-style: dashed;
    border-image: repeating-linear-gradient(
    to right,
    #262626 0 20px,  /* довжина штриха */
    transparent 10px 38px /* відстань між ними */
  ) 1;
}

.cell-digit-three:nth-child(3) {
    border: none;
}

.text-digit .three-btn {
    margin: 0 auto 50px;
}

.text-digit button {
    width: 140px;
    height: 40px;
    font-size: 20px;
    background-color: #1c1c1c;
    border: 1px solid #262626;
    border-radius: 100px;
    color: white;
}

/* ------------------------------ Media query ------------------------------- */

@media (min-width: 1000px) {

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 140px);
        padding: 0 30px;
        height: 88px;
        border-radius: 100px;
    }

    .left-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-links {
        display: flex;
        gap: 30px;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 8px 14px;
        border-radius: 50px;
    }

    .nav-links a:hover {
        background: #333;
    }

    .auth-buttons {
        display: flex;
        gap: 15px;
    }

    .auth-buttons a {
        padding: 8px 18px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 16px;
    }

    .auth-buttons a.signup {
        background: transparent;
        color: white;
    }

    .auth-buttons a.login {
        background: #c6ff00;
        color: black;
        font-weight: 600;
    }

    .btn-nav-bar {
        display: none;
    }
/* ------------------------------------  */
    .grid {
        margin: 0 100px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .cell {
        max-width: 700px ;
        left: -40px;
    }

    div.cell {
        left: 0;
        top: 20px;
        transform: scale(1.1);
        text-align: left;
    }

    .cell h1 {
        text-align: left;
    }

    .cell .message {
        left: 10px;
        margin: 0 0 20px;
    }

    .cell-transactions {
        position: relative;
        margin-top: 60px;
    }

    .supported {
        position: relative;
        left: 0;
    }

    .header-sec {
        display: flex;
        align-items: center;
    }

    .header-sec .sec-btn {
        margin-right: 0; 
    }

    .header-sec .text {
        width: 800px;
        text-align: left;
    }

    .header-sec h1 {
        text-align: left;
    }

    .second-section .grid-sec {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid-sec .border-down {
        border-right: 1px solid #262626;
        border-bottom: none;
        padding: 0 20px;
    }

    .grid-sec .border-down:nth-child(3) {
        border: none;
    }


}

@media (max-width: 999px) {
    .nav-links,
    .auth-buttons {
        display: none;
        position: absolute;
        top: 0;
        left: -200%;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .btn-nav-bar {
        display: block;
    }

    .dropdown-content {
        display: none; 
        position: absolute;
        top: 100px;
        right: 10px;
        background: #262626;
        min-width: 180px;
        border-radius: 8px;
        z-index: 1000;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        pointer-events: none;
        flex-direction: column;
    }

    .dropdown-content.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .dropdown-content a {
        padding: 12px 15px;
        text-decoration: none;
        color: white;
    }

    .dropdown-content a:hover {
        background: #333;
    }
}

/* @media screen and (max-width: 424px) {
    .second-section {
        margin-right: -40px;
    }
} */


/* ------------------------------ END Media query ---------------------------- */